dash==2.18.2
dash-bootstrap-components==1.6.0
plotly==5.24.1
pandas==2.2.3
numpy==1.26.4
psycopg2-binary==2.9.10
Flask==2.3.2
Cython==0.29.36
--only-binary=scikit-learn
scikit-learn==1.2.2

